<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetworkConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NetworkConfig.Properties.Settings>
            <setting name="VersionRegex" serializeAs="String">
                <value>Mastercam\W*(?&gt;(?&gt;X\d?)|(?&gt;\d{4}))</value>
            </setting>
            <setting name="VersionSubKey" serializeAs="String">
                <value>Software\CNC Software, Inc.</value>
            </setting>
        </NetworkConfig.Properties.Settings>
    </userSettings>
</configuration>